<h1>MySQL Results:</h1>
<table style="border: 1px solid black; border-collapse: collapse;">
	<tr>
		<th>Name</th>
		<th>Reps</th> 
		<th>Weight</th>
		<th>Date</th>
		<th>Unit</th>
	</tr>
	{{#each dataList}}
    <tr>
		<td>{{this.name}}</td>
		<td>{{this.reps}}</td> 
		<td>{{this.weight}}</td>
		<td>{{this.date}}</td>
		<td>{{this.unit}}</td>
		<td><button id="deleteBut">Delete</button><button id="editBut">Edit</button></td>
	</tr>
    {{/each}}
</table>