<h1>MySQL Results:</h1>
<table style="border: 1px solid black; border-collapse: collapse;">
	<tr>
		<th style="border: 1px solid black;">Name</th>
		<th style="border: 1px solid black;">Reps</th> 
		<th style="border: 1px solid black;">Weight</th>
		<th style="border: 1px solid black;">Date</th>
		<th style="border: 1px solid black;">Unit</th>
	</tr>
	{{#each dataList}}
    <tr>
		<td style="border: 1px solid black;">{{this.name}}</td>
		<td style="border: 1px solid black;">{{this.reps}}</td> 
		<td style="border: 1px solid black;">{{this.weight}}</td>
		<td style="border: 1px solid black;">{{this.date}}</td>
		<td style="border: 1px solid black;">{{this.unit}}</td>
		<td style="border: 1px solid black;"><button id="deleteBut">Delete</button><button id="editBut">Edit</button></td>
	</tr>
    {{/each}}
</table>