<h1>MySQL Results:</h1>
<table>
	<tr>
		<th>Name</th>
		<th>Reps</th> 
		<th>Weight</th>
		<th>Date</th>
		<th>Unit</th>
	</tr>
	{{#each dataList}}
    <tr>
		<td>{{this.name}}</td>
		<td>{{this.reps}}</td> 
		<td>{{this.weight}}</td>
		<td>{{this.date}}</td>
		<td>{{this.unit}}</td>
		<td><form>
			<input type="hidden" value="{{this.id}}"/>
			<input type="submit" class="delete" value="Delete"/>
			<input type="submit" class="edit" value="Edit"/>
		</form></td>
	</tr>
    {{/each}}
</table>